:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --active-color: #e27523;
  --border: rgba(0, 0, 0, 0.15);
}

[data-theme="dark"] {
  --bg-color: #213547;
  --text-color: #ffffff;
  --active-color: #ff9800;
  --border: rgba(255, 255, 255, 0.15);
}
a {
  font-weight: 500;
  color: var(--active-color);
  text-decoration: inherit;
}
a:hover, a.active {
  color: var(--text-color);
  text-decoration: underline;
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 16px;
  font-weight: 400;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

*, ::before, ::after {
  box-sizing: border-box;
}

.root {
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  pointer-events: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.topRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

button {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-color);
}

main {
  padding: 24px;
}

.searchContainer {
  position: relative;
}

.searchInput {
  width: 100%;
  margin: 0;
  padding: 16px;
  padding-left: 52px;
  font-size: inherit;
  line-height: 1;
  font-family: inherit;
  color: inherit;
  background-color: var(--bg-color);
  border: 1px solid var(--border);
  border-radius: 6px;
}

.searchIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  height: 100%;
}

.iconList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: stretch;
  -webkit-box-align: stretch;
  gap: 16px;
  margin: 24px 0;
}

.iconItem {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: var(--bg-color);
  border-radius: 6px;
  border: 1px solid var(--border);
  outline: 0px;
}

.svgIcon {
  flex: 1 1 auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 100px;
}

.iconName {
  flex: 0 0 auto;
  font-size: 14px;
  padding: 0 16px 16px;
  text-align: center;
  word-break: break-word;
}

.copyIcon {
  position: absolute;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  opacity: 0;
  width: 20px;
  height: 20px;
  right: 5%;
  top: 5%;
  color: var(--active-color);
}

.iconItem:hover .copyIcon {
  opacity: 1;
}
.iconItem:hover {
  border: 1px solid var(--active-color);
}

.copyText {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--active-color);
  color: var(--text-color);
  text-align: center;
  z-index: 1;
  height: 40px;
  line-height: 40px;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}